<h1>Signup</h1>
<form  action="/users/signup" method="post">
    <input type="text" placeholder="Nhập email vào đây" name="email">
    <input type="password" placeholder="Nhập password vào đây" name="password">
    <button type="sumit">Submit</button>
</form>